{% extends "app_bar1.html" %}

{% block details %}
	<script>

		
		var data; // global data variable
		
		d3.json("http://127.0.0.1:5000/counts/", function(error, json) {
			if (error) return console.warn(error); 
				data = json;
				console.log(json);
				nv.addGraph();
		});
		
		nv.addGraph(function() {
			var chart = nv.models.discreteBarChart()
				.x(function(d) {return d.Manuf})
				.y(function(d) {return d.Number})
				.staggerLabels(true)
				.tooltips(false)
				.showValues(true)
				.transitionDuration(350)
				;
		
			d3.select("#chart svg")
			  .datum(exampledata())
			  .call(chart);
			  
			nv.utils.windowResize(chart.update);
			
			return chart;
		});
		
	function exampledata()	{
		return [ 
		{
		  "values": [
		    {
		      "Manuf": "Honda", 
		      "Number": 140
		    }, 
		    {
		      "Manuf": "Mazda", 
		      "Number": 360
		    }, 
		    {
		      "Manuf": "Toyota", 
		      "Number": 551
		    }
		  ]
		}]
		};
		
		
	</script>
	<div id="chart">
		<h3>Entries By Manufacturer</h3>
		<svg style="height:500px">
		</svg>
	</div>




{% endblock %}
