{% extends "app_bar1.html" %}

{% block details %}
	<script>
		d3.table = function(config) {
		var columns = [];

		var tbl = function(selection) {
		if (columns.length == 0) columns = d3.keys(selection.data()[0][0]);
		console.log(columns)    

		// Creating the table
		var table = selection.append("table");
		var thead = table.append("thead");
		var tbody = table.append("tbody");

		// appending the header row
		var th = thead.selectAll("th")
				.data(columns)

		th.enter().append("th");
			th.text(function(d) { return d });
		th.exit().remove()

		// creating a row for each object in the data
		var rows = tbody.selectAll('tr')
			.data(function(d) { return d; })

		rows.enter().append("tr");
		rows.attr('data-row',function(d,i){return i});
		rows.exit().remove();   

		// creating a cell for each column in the rows
		var cells = rows.selectAll("td")
				.data(function(row) {
			return columns.map(function(key) {
				        return {key:key, value:row[key]};
			});
				})

		cells.enter().append("td");
		cells.text(function(d) { return d.value; })
			.attr('data-col',function(d,i){return i})
			.attr('data-key',function(d,i){return d.key});
		cells.exit().remove();

		return tbl;
		};

		tbl.columns = function(_) {
		if (!arguments.length) return columns;
		columns = _;
		return this;
		};

		return tbl;
		};

		// window size
		var w = 600;
		var h = 300;
		
		/// new table
		var t = d3.table();


		var data; // global data variable
		
		d3.json("http://127.0.0.1:5000/TblData/", function(error, json) {
			if (error) return console.warn(error); 
				data = json;
				console.log(json);
			d3.select("#tablehldr")
			.datum(json)
			.call(t)
		});
		
		

	</script>
	<div id="tablehldr">
		
	</div>




{% endblock %}
